Android Open Source Project
Code
FreeTube
Google
Proton Mail
Raspberry Pi
gsconnect
Thunar
VSCodium
autostart
btop
balenaEtcher
calcurse
clerk
configstore
content_shell
create-next-app-nodejs
dconf
enchant
evolution
fontconfig
fontforge
geany
gedit
gnome-control-center
gh
gitui
glib-2.0
gnome-session
go
goa-1.0
gpick
gtk-3.0
gtk-4.0
hardhat-nodejs
htop
ibus
lazygit
libreoffice
mozilla
nautilus
net.imput.helium
nextjs-nodejs
nvm
obsidian
opencode
orage
org.keshavnrj.ubuntu
pulse
pnpm
remixdesktop
s-tui
t3code
thorium
totem
unity3d
uv
vivaldi
xarchiver
xfce4
xpad
yelp
.wrangler
QtProject.conf
gnome-xdg=terminals.list
mimeapps.list
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
gnome-xdg-terminals.list
gnome-initial-setup-done
.gsd-keyboard.settings-ported
github-copilot
google-chrome
JetBrains
llmfit
openwork
xed
codecarbon
libvirt
xmonad/.stack-work
xmonad/xmonad
xmonad/xmonad-contrib
xmonad/stack.yaml
xmonad/stack.yaml.lock
sealert.conf